.bg-custom {
    background-image: url(./ySuXtcK.png);
    background-color: #25282a;
    background-size: 1100px;
    color: rgb(255 255 255 / 92%);
    scroll-behavior: smooth;
}

/* .bg-custom {
    background-color: #111827;
} */